html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.452)), url(../img/banner/banner.jpg) no-repeat center center;
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 25px;
  padding-top: 120px;
  margin: auto;
  background-color: #ffffff2d;
  border-radius: 7px;
  color: white;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group label:focus, 
.form-label-group input:focus {
  background-color: #0000002d;
  color: #ffffff;
  outline: none;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
  outline: 0;
  color: white;
  background-color: transparent;
  border: 0px solid;
  border-bottom: 2px solid white;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #ffffff;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
  
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #ffffff;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: rgb(255, 255, 255);
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: rgb(255, 255, 255);
  }
}
